.submissio-sidebar {
  box-sizing: border-box;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  overflow: visible;
  position: fixed;
  z-index: $index-base;
  border-right: 1px solid $gray-less;

  transform: translate3d(-100%, 0px, 0px);
  transition: transform 0.3s ease-in 0s;

  .ui-resizable-handle {
    bottom: 0;
    cursor: col-resize;
    position: absolute;
    top: 0;
  }

  .ui-resizable-e {
    right: -4px;
    width: 8px;
  }

  .ui-resizable-index {
    z-index: 90;
  }

  .submissio-view-header {
    padding: 5px;

    background-color: $primary;
    color: $white;
    height: $header-height;

    @media all and (max-width: $lg-width) {
      height: $lg-header-height;
    }

    .submissio-header {
      .submissio-header-title {
        font-size: xx-large;
        margin-bottom: 15px;
      }
      .submissio-header-username {
        text-transform: uppercase;
        font-size: 10px;
        justify-content: unset;
      }
    }

    .submissio-header-icons {
      display: flex;
      align-self: flex-start;

      .submissio-header-icon {
        padding: 3px;
      }
    }

  }

  .submissio-announcement {
    text-transform: uppercase;
    position: relative;
    font-size: 11px;
    color: rgb(115, 92, 15);
    cursor: pointer;
    background: rgb(255, 251, 221);
    border-bottom: 1px solid rgba(27, 31, 35, 0.15);
    padding: 5px !important;
  }

  .submissio-views {
    height: 100%;
    box-sizing: border-box;
    @include theme-aware('background', 'color-background');
    overflow: scroll;
    padding-bottom: 13rem;
  }

  .submissio-footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $primary;
    bottom: 0;
    padding: 6px;
    position: absolute;
    width: -webkit-fill-available;
    @include theme-aware('background', 'color-background');
    z-index: 2000;
  }
}

.submissio-sidebar-show {
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease;

  .ui-resizable-handle {
    width: 8px;
  }

  .submissio-toggle {
    opacity: 0;
    pointer-events: none;
    right: 10px;
    transition: right 0s, opacity 0s;
  }
}
