@import './vars.scss';
@import './submissio.scss';
@import './form.scss';
@import './grid.scss';

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}


.separator {
	height: 0;

	// Dashed style
	&.separator-dashed {
			border-bottom: 1px dashed $border-color;
	}

	&.separator-solid {
			border-bottom: 1px solid $border-color;
	}

	&.separator-border-2 {
			border-bottom-width: 2px;
	}

	&.separator-border-3 {
			border-bottom-width: 3px;
	}

	&.separator-border-4 {
			border-bottom-width: 4px;
	}

	// Theme colors
	@each $name, $color in $theme-colors {
			&.separator-#{$name} {
					border-bottom-color: $color;
			}
	}
}

.my-5 {
	margin-top: 1.25rem !important;
	margin-bottom: 1.25rem !important;
}

.btn {
  cursor: pointer;
}

@each $name, $color in $theme-colors {
	.default-#{$name} {
		background-color: $color;
		border-color: $color;
		align-items: stretch;
		padding: 1.5rem 2rem;
		text-align: center;
		color: $white;
		border-radius: 15px;
		margin: 15px;
	}
}
