@import 'vars',
	'color-palette',
	'mixins',
	'grid',
	'submissio',
	'form',
	'separator',
	'toggler',
	'label';

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.my-5 {
	margin-top: 1.25rem !important;
	margin-bottom: 1.25rem !important;
}

.btn {
  cursor: pointer;
}

@each $name, $color in $theme-colors {
	.default-#{$name} {
		background-color: $color;
		border-color: $color;
		align-items: stretch;
		padding: 1.5rem 2rem;
		text-align: center;
		color: $white;
		border-radius: 15px;
		margin: 15px;
	}
}
