// ====== Layout ======
$lg-width: 800px;
$sm-width: 250px;
$default-width: 332px;

// ====== Z-indices ======
$index-base: 1000000001;
$index-popup: 1000000002;

// ====== Sizing ======
$header-height: 64px;
$lg-header-height: 53px;
$footer-height: 30px;
$icon-size: 16px;

// ====== Colors ======
$red: #e93838;
$dark: #0f2e47;
$dark-less: #373e43;
$gray: #6a737d;
$gray-less: #dfe2e5;
$light: #959da5;
$blue: #6cb5fe;
$error: #ac4142;
$accent: #04a9ff;
$orange: #F4C691;
$orange-less: #F9E5C7;
$white: #ffffff;

// Gray colors
$gray-100: #F3F6F9 !default;
$gray-200: #ECF0F3 !default;
$gray-300: #E5EAEE !default;
$gray-400: #D6D6E0 !default;
$gray-500: #B5B5C3 !default;
$gray-600: #80808F !default;
$gray-700: #464E5F !default;
$gray-800: #1B283F !default;
$gray-900: #212121 !default;

// theme colors
$primary: #1BC5BD !default;
$secondary: $gray-300 !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
$dark-75: $gray-700 !default;
$bg: #f4f7f8;
$bg-white: #fafbfc;
$border-color: $gray-600 !default;
$primary-btn-hover: #109177;
$green-light: #1abc9c;

$success: #1BC5BD !default;
$success-hover: #0BB7AF !default;
$success-light: #C9F7F5 !default;

$info: #8950FC !default;
$info-hover: #7337EE !default;
$info-light: #EEE5FF !default;

$danger: #F64E60 !default;
$danger-hover: #EE2D41 !default;
$danger-light: #FFE2E5 !default;

$warning: #FFA800 !default;
$warning-hover: #EE9D01 !default;
$warning-light: #FFF4DE !default;

// Bootstrap theme colors
$theme-colors: (
	"white":      $white,
	"primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "dark-75":    $dark-75
) !default;
