// ====== Layout ======
$lg-width: 1012px;

// ====== Z-indices ======
$index-base: 1000000001;
$index-popup: 1000000002;

// ====== Sizing ======
$header-height: 64px;
$lg-header-height: 53px;
$footer-height: 30px;
$icon-size: 16px;

// ====== Colors ======
$red: #e93838;
$dark: #0f2e47;
$dark-less: #373e43;
$gray: #6a737d;
$gray-less: #dfe2e5;
$light: #959da5;
$blue: #6cb5fe;
$error: #ac4142;
$accent: #04a9ff;
$orange: #F4C691;
$orange-less: #F9E5C7;
